body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/imagenes/istockphoto-1189999060-612x612.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

#galeria {
    text-align: center;
}

#galeria h2 {
    margin-bottom: 20px;
    color: white;
}

.carrusel {
    width: 80%;
    margin: 0 auto;
}

.carrusel img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

.btn-green {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.btn-green:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
